body{
    font-family:Arial,serif sans-serif;
    background-color: rgb(15, 88, 131);
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px;
}

.menu{
    background-color: cornflowerblue;
    border-radius: 10px;
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.menu a:hover{
    color:red   ;
}

.perfil img {
    align-items: center;      
    width: 140px;
    height: 150px;
    border-radius: 20%;
    margin: 10px;  
}

.logo_out {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin: 10px;
}
.logo_git {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin: 10px;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 10%;
    margin-top: 20px;
}
th, td {
    border: 1px solid cornflowerblue;
    padding: 8px;
}
th {
    background-color: cornflowerblue;
    text-align: left;
} 

.sobre-mi {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    width: 5.5%;
}

#habilidades {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    width: 17%;
}

#laboral {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    width: 12%;
}

#idioma {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    width: 4%;
}

#contacto {
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    width: 5%;
}