body{
    font-family:Arial,serif sans-serif;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 15px;
}
.menu a:hover{
    color:red   ;
}
.menu{
    background-color: cornflowerblue;
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.img_perfil{
    align-items: center;
    display: flex;
    width: 140px;
    height: 150px;
    border-radius: 10%;
    margin: 10px;
    
}